
body {
	/* ====================================================================================================== COLORS */

	--panda-primary-text-color: hsl(0deg 0% 100%); 
	--panda-primary-color: rgb(127, 92, 173);
	
	/* ACTION COLORS */

	--panda-action-info: hsl(197 100% 90%);
	--panda-action-info-0opc: hsl(197 100% 90% / 0%);
	--panda-action-info-10opc: hsl(197 100% 90% / 10%);
	--panda-action-info-20opc: hsl(197 100% 90% / 20%);
	--panda-action-info-30opc: hsl(197 100% 90% / 30%);
	--panda-action-info-40opc: hsl(197 100% 90% / 40%);
	--panda-action-info-50opc: hsl(197 100% 90% / 50%);
	--panda-action-info-60opc: hsl(197 100% 90% / 60%);
	--panda-action-info-70opc: hsl(197 100% 90% / 70%);
	--panda-action-info-80opc: hsl(197 100% 90% / 80%);
	--panda-action-info-90opc: hsl(197 100% 90% / 90%);

	--panda-action-done: hsl(145 100% 90%);
	--panda-action-done-0opc: hsl(145 100% 90% / 0%);
	--panda-action-done-10opc: hsl(145 100% 90% / 10%);
	--panda-action-done-20opc: hsl(145 100% 90% / 20%);
	--panda-action-done-30opc: hsl(145 100% 90% / 30%);
	--panda-action-done-40opc: hsl(145 100% 90% / 40%);
	--panda-action-done-50opc: hsl(145 100% 90% / 50%);
	--panda-action-done-60opc: hsl(145 100% 90% / 60%);
	--panda-action-done-70opc: hsl(145 100% 90% / 70%);
	--panda-action-done-80opc: hsl(145 100% 90% / 80%);
	--panda-action-done-90opc: hsl(145 100% 90% / 90%);

	--panda-action-warn: hsl(42 100% 90%);
	--panda-action-warn-0opc: hsl(42 100% 90% / 0%);
	--panda-action-warn-10opc: hsl(42 100% 90% / 10%);
	--panda-action-warn-20opc: hsl(42 100% 90% / 20%);
	--panda-action-warn-30opc: hsl(42 100% 90% / 30%);
	--panda-action-warn-40opc: hsl(42 100% 90% / 40%);
	--panda-action-warn-50opc: hsl(42 100% 90% / 50%);
	--panda-action-warn-60opc: hsl(42 100% 90% / 60%);
	--panda-action-warn-70opc: hsl(42 100% 90% / 70%);
	--panda-action-warn-80opc: hsl(42 100% 90% / 80%);
	--panda-action-warn-90opc: hsl(42 100% 90% / 90%);

	--panda-action-fail: hsl(350 81% 96%);
	--panda-action-fail-0opc: hsl(350 81% 96% / 0%);
	--panda-action-fail-10opc: hsl(350 81% 96% / 10%);
	--panda-action-fail-20opc: hsl(350 81% 96% / 20%);
	--panda-action-fail-30opc: hsl(350 81% 96% / 30%);
	--panda-action-fail-40opc: hsl(350 81% 96% / 40%);
	--panda-action-fail-50opc: hsl(350 81% 96% / 50%);
	--panda-action-fail-60opc: hsl(350 81% 96% / 60%);
	--panda-action-fail-70opc: hsl(350 81% 96% / 70%);
	--panda-action-fail-80opc: hsl(350 81% 96% / 80%);
	--panda-action-fail-90opc: hsl(350 81% 96% / 90%);

	--panda-shadow: hsl(0 0% 0%);
	--panda-shadow-0opc: hsl(0 0% 0% / 0%);
	--panda-shadow-10opc: hsl(0 0% 0% / 10%);
	--panda-shadow-20opc: hsl(0 0% 0% / 20%);
	--panda-shadow-30opc: hsl(0 0% 0% / 30%);
	--panda-shadow-40opc: hsl(0 0% 0% / 40%);
	--panda-shadow-50opc: hsl(0 0% 0% / 50%);
	--panda-shadow-60opc: hsl(0 0% 0% / 60%);
	--panda-shadow-70opc: hsl(0 0% 0% / 70%);
	--panda-shadow-80opc: hsl(0 0% 0% / 80%);
	--panda-shadow-90opc: hsl(0 0% 0% / 90%);

	--panda-table-bg-color: hsl(223 22% 91%);

	--panda-border-color: hsl(222 14% 49%);
	--panda-border-color-0opc: hsl(222 14% 49% / 0%);
	--panda-border-color-10opc: hsl(222 14% 49% / 10%);
	--panda-border-color-20opc: hsl(222 14% 49% / 20%);
	--panda-border-color-30opc: hsl(222 14% 49% / 30%);
	--panda-border-color-40opc: hsl(222 14% 49% / 40%);
	--panda-border-color-50opc: hsl(222 14% 49% / 50%);
	--panda-border-color-60opc: hsl(222 14% 49% / 60%);
	--panda-border-color-70opc: hsl(222 14% 49% / 70%);
	--panda-border-color-80opc: hsl(222 14% 49% / 80%);
	--panda-border-color-90opc: hsl(222 14% 49% / 90%);

	/* ===================================================================================================== BUTTONS */

	--panda-button-height-s: 24px;
	--panda-button-height-m: 32px;
	--panda-button-height-l: 40px;
	--panda-button-height-s: 48px;

	--panda-button-border-radius: 5px;

	/* ======================================================================================================= FONTS */

	--panda-font-size-xs: 12px;
	--panda-font-size-s: 14px;
	--panda-font-size-m: 16px;
	--panda-font-size-l: 18px;
	--panda-font-size-xl: 22px;
	--panda-font-size-hero: 36px;
	
	--panda-font-family: "OpenSans";
	--panda-font-family-light: "OpenSans-Light";
	--panda-font-family-bold: "OpenSans-Bold";

	padding: 60px;
	margin: 0px;

	color: hsl(222 14% 49%);
	font-size: var(--panda-font-size-m);
	font-family: var(--panda-font-family);
	background-color: #f2f3f7;
}

@font-face {
	font-family: "OpenSans";
	src: url(./OpenSans-Regular.ttf);
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url(./OpenSans-Bold.ttf);
}

@font-face {
	font-family: "OpenSans-Light";
	src: url(./OpenSans-Light.ttf);
}